{% extends "base.html" %}

{% block main %}

<div class="two"><h1>Pizza Menu</h1></div>

<div>
	<h2>Сортировка</h2>
	<div class="btn-group" role="group" aria-label="Basic example">
		<a href="/pizzas/?ordering=price" class="btn btn-secondary" role="button">По возрастанию цены</a>
		<a href="/pizzas/?ordering=-price" class="btn btn-secondary" role="button">По уменьшению цены</a>
		<a href="/pizzas/?ordering=name" class="btn btn-secondary" role="button">По названию</a>
	</div>
</div>

<div>
<center>
	<table>
		<tr>
			{% for pizza in pizzas %}
			<div class="card" style="width: 18rem;">
				<img src={{ pizza.photo }} class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{ pizza.name }}</h5>
					<p class="card-text">{{ pizza.description }}</p>
					<form method="post" action="/add_pizza/">{% csrf_token %}
						<input type="text" value="{{ pizza.id }}" hidden name="pizza_id">
						<input type="number" name="count">
						<input type="submit" value="Заказать">
					</form>
				</div>
			</div>
			{% endfor %}
		</tr>
	</table>
	
	<div>
		<a href="/my_order/" class="btn btn-secondary" role="button">Просмотреть мой заказ</a>
	</div>
</center>
</div>

{% endblock %}

